@import url('https//fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Barre de navigation */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    position: sticky;
    top: 0;
}
nav h1{
    font-size: 20px;
}
nav .onglets{
    display: flex;
    flex-wrap: wrap;            
}
nav .onglets p{
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}
nav .onglets input{
    margin: 8px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline:none;
    background-color: #f2f2f2;
}
/* Fin de la barre de navigation */

/* Header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0,1px;
}
header h1{
    font-size: 50px;
    max-width: 500px;
    text-align: center;
}
header button{
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.logo{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.logo span{
    color: #fd911f;
}
/* Fin du Header */

/* Section principale */
.main{
    margin: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Touites les cartes */
.cards{
    display: flex;
    flex-wrap: wrap;
}
.cards .card{
    margin-right: 20px;
    cursor: pointer;
}
.cards .card img{
    width: 350px;
    border-radius: 10px;
}
.cards .card .card-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards .card .card-body p{
    margin-top: -15px;
}
/* Fin cde toutes les cartes */
/* Fin de section principale*/

/* Pied de page */

footer{
    margin-top: 100px;
    background-color:#000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}
footer .social-media{
    display: flex;
}
footer .social-media p{
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 5px;
    text-align: center;
    width: 20px;
    cursor: pointer;
}
/* Fin du pied de page */

@media screen and (max-width: 640px){
    nav .onglets .link{
        display: none;
    }
    .cards .card img{
        width: 300px;
    }
}

.contact{
    background-size: cover;
    width: 14%;
    background-position: unset;
}

.contactforme{
    padding: 75px 50px;
    background: violet;
    box-shadow: 5px 15px 50px rgba(0, 0, 0, 0);
    max-width: 250px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
}

.contactforme .inputboite{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
}

.contactforme h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.contactforme .inputboite input,
.contactforme .inputboite textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
     resize: none;
}

.contactforme .inputboite input[type="submit"]{
    font-size: 1em;
    font-weight: 70;
    color: #fff;
    background: #fd911f;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    border: none;
    transition: 0.5s;
    max-width: 120px;
    align-items: center;
    justify-content: center;
}